*.class

# Package Files #
*.jar
*.war
*.ear
/src/kenefasys/modules/kenefa-ear/target/
/src/kenefasys/modules/kenefa-domain/target/
/src/kenefasys/modules/kenefa-rs/target/
/src/kenefasys/modules/kenefa-ejb/target/